<h1><%= @products.name %></h1>
<p>pdt_id: <%= @products.pdt_id%></p>
<p>rrp: <%= @products.rrp%></p>
<p>series: <%= @products.series%></p>
<p>brand: <%= @products.brand%></p>
<p>sku: <%= @products.sku%></p>
<p>photo: <%= @products.photo%></p>
<p>image_url: <%= @products.image_url%></p>
<p>rating: <%= @products.rating%></p>
<p>description: <%= @products.description%></p>
<p>store_name_price: <%= @products.store_name_price%></p>
<p>API TEST: <%= @cdec %></p>
<p>IMAGES: <%= @cpic %>
 <img src='<%= @cpic %>' alt='<%= @products.name %>' width="500" height="600"> 
<p>API Price: <%= @cprice  %></p>
<p>Readout: <%= @readout %> </p>
