<h1><%= @products.name %></h1>
<p>pdt_id: <%= @products.pdt_id%></p>
<p>rrp: <%= @products.rrp%></p>
<p>series: <%= @products.series%></p>
<p>brand: <%= @products.brand%></p>
<p>sku: <%= @products.sku%></p>
<p>photo: <%= @products.photo%></p>
<p>image_url: <%= @products.image_url%></p>
<p>rating: <%= @products.rating%></p>
<p>description: <%= @products.description%></p>
<p>store_name_price: <%= @products.store_name_price%></p>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>