<h1>Store Name:<%= @stores.name %></h1>
<p>Logo: <%= @stores.logo %></p>
<p>Phone: <%= @stores.phone %></p>
<p>Location: <%= @stores.store_location %></p>
<p>Sponsor: <%= @stores.sponsor %></p>
<p>Slug: <%= @stores.store_slug %></p>